html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;

}

body {
  transition: background 0.3s ease, color 0.3s ease;

  &.default-theme {
    --blue-dark: #1d3557;
    --blue-medium: #457b9d;
    --blue-light: #a8dadc;
    --yellow-accent: #FDBF2D;
    --yellow-hover: #e0a800;
    --text-color: white;
    --bg-color: var(--blue-dark);
  }

  &.colorblind-theme {
    --blue-dark: #333333;
    --blue-medium: #666666;
    --blue-light: #999999;
    --yellow-accent: #ff9900;
    --yellow-hover: #cc7a00;
    --text-color: #000;
    --bg-color: #f3f3f3;

    .homepage {
      background: linear-gradient(
        to bottom right,
        var(--blue-dark),
        var(--blue-medium),
        var(--bg-color)
      );
    }
  }
}
app-login {
  display: block;
  height: 100vh;
  width: 100vw;
}

body {
  &.default-theme {
    --blue-dark: #1d3557;
    --blue-medium: #457b9d;
    --blue-light: #a8dadc;
    --yellow-accent: #FDBF2D;
    --yellow-hover: #e0a800;
    --text-color: white;
    --bg-color: var(--blue-dark);
  }

  &.colorblind-theme {
    --blue-dark: #333333;
    --blue-medium: #666666;
    --blue-light: #999999;
    --yellow-accent: #ff9900;
    --yellow-hover: #cc7a00;
    --text-color: #000;
    --bg-color: #f3f3f3;
  }

@extend .default-theme;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
